runmode: debug
timezone: Asia/Chongqing
addr: :8080
name: albedo
url: http://127.0.0.1:8080
redis:
  host: 127.0.0.1
  port: 6379
  password: password
  db: 1
db:
  name: db_apiserver
  addr: 127.0.0.1:3306
  username: root
  password: root
docker_db:
  name: db_apiserver
  addr: 127.0.0.1:3306
  username: root
  password: root